<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Nueva Ubicacion
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Regresar', ubicacions_path %>
	</div>
</div>
