<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipos_documento.descripcion %>
</p>

<%= link_to 'Edit', edit_tipos_documento_path(@tipos_documento) %> |
<%= link_to 'Back', tipos_documentos_path %>
