<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Editar Estado de Bloque
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Show', @estados_bloque %> |
		<%= link_to 'Regresar', estados_bloques_path %>
	</div>
</div>
