<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @estados_bloque.descripcion %>
</p>

<%= link_to 'Edit', edit_estados_bloque_path(@estados_bloque) %> |
<%= link_to 'Back', estados_bloques_path %>
