<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Usuarios
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to new_user_registration_path, style: 'text-decoration: none;' do %> 	
					<div id="smallBox">
						Nuevo Usuario
					</div>
				<% end %>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to estados_bloques_path, style: 'text-decoration: none;' do %>
					<div id="smallBox">
						Lista de Usuarios
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>