<div class="jumbotron">
	<div class="row">
		<div class="col-md-4 col-sm-6" id="links">
			<%= link_to administracion_path, style: 'text-decoration: none;' do %> 
				<div id="box">
					Administracion del Sistema
				</div>
			<% end %>
		</div>

		<div class="col-md-4 col-sm-6" id="links">
			<%= link_to archivo_path, style: 'text-decoration: none;' do %> 
				<div id="box">
					Control de Archivo
				</div>
			<% end %>
		</div>
		
		<div class="col-md-4 col-sm-6">
			<div id="box">
			</div>
		</div>	
	</div>
</div>
