<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @localidad.descripcion %>
</p>

<%= link_to 'Edit', edit_localidad_path(@localidad) %> |
<%= link_to 'Back', localidads_path %>
