<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Nuevo Tipo de Bloque
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Regresar', tipos_bloques_path %>
	</div>
</div>

