<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipos_bloque.descripcion %>
</p>

<%= link_to 'Edit', edit_tipos_bloque_path(@tipos_bloque) %> |
<%= link_to 'Back', tipos_bloques_path %>
