<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @estados_documento.descripcion %>
</p>

<%= link_to 'Edit', edit_estados_documento_path(@estados_documento) %> |
<%= link_to 'Back', estados_documentos_path %>
